deepspeed==0.15.1
ftfy>=6.0.1
lm-dataformat==0.0.20
huggingface_hub>=0.11.0
jinja2==3.1.4
mpi4py==4.0.0
numpy==2.0.2
pybind11==2.13.6
regex
sentencepiece
six
tiktoken>=0.1.2
tokenizers>=0.12.1
transformers==4.45.1